<div class="container altern">
	<div class="row">
		<form class="form-inline" name="albumForm" ng-submit="submitFormAlbum()">
			<h2>Создайте новый альбом</h2>
			<h4>Название Альбома: </h4>
			<div class="alert alert-warning" role="alert" ng-hide="correctNameAlbum">{{message}}</div>
			<input type="text" class="form-control input_nameAlbum" name="formInputName" ng-model="nameAlbum" ng-minlength="5" ng-maxlength="30" ng-pattern="/^[a-zA-Z]+[a-zA-Z1-9]*$/" required placeholder="пример: Album1" autofocus>
			<input class="btn btn-success" type="submit" value="Создать">
		</form>
	</div>
</div>
<div class="container simple" nv-file-drop="" uploader="uploader" ng-show="cameAnswer">
	<div class="row" ng-hide="isExistAlbum">
		<div class="bs-callout bs-callout-danger">Ни одного альбома нет. Создайте альбом.</div>
	</div>
	<div class="row" ng-show="isExistAlbum">
		<h2>Загрузка фотографий</h2>
		<div class="col-md-3">
			<h3>Выбор файлов</h3>
			<div ng-show="uploader.isHTML5">
				<div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
					<div nv-file-over="" uploader="uploader" class="well my-drop-zone" over-class="another-file-over-class" >
						Перетащите загрузочные файлы на эту область...
					</div>
				</div>
			</div>
			<input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
		</div>

		<div class="col-md-9">
			<h3>Очередь файлов</h3>
			<p>Длина очереди: {{ uploader.queue.length }}</p>
			<div>
				<div>
					Прогресс загрузки:
					<div class="progress" style="">
						<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
					</div>
				</div>
				<button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
					<span class="glyphicon glyphicon-upload"></span> Загрузить все
				</button>
				<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
					<span class="glyphicon glyphicon-ban-circle"></span> Отменить все
				</button>
				<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
					<span class="glyphicon glyphicon-trash"></span> Удалить все
				</button>
			</div>
		</div>
		<table class="table" ng-show="uploader.queue.length">
			<thead>
				<tr>
					<th class="col-name">Имя</th>
					<th class="col-description">Описание файла</th>
					<th class="col-size" ng-show="uploader.isHTML5">Размер</th>
					<th class="col-progress" ng-show="uploader.isHTML5">Прогресс</th>
					<th class="col-status">Статус</th>
					<th class="col-actions">Действия</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in uploader.queue">
					<td>
						<strong>{{ item.file.name }}</strong>
						<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 150 }"></div>
					</td>
					<td class="description_block">
						Заголовок:
						<input class="form-control input_titlePhoto" type="text" ng-model="item.formData[0].title" placeholder="пример: Photo1" >
						Описание:
						<input class="form-control input_descriptionPhoto" type="text" ng-model="item.formData[0].description">
						Альбом:
						<select class="form-control input_albumPhoto" ng-model="item.formData[0].album" ng-options="album.id as album.name for album in all_albums">
							<option value="">Выбор альбома</option>
						</select>
					</td>
					<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
					<td ng-show="uploader.isHTML5">
						<div class="progress" style="margin-bottom: 0;">
							<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
						</div>
					</td>
					<td class="text-center">
						<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
						<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
						<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
					</td>
					<td nowrap>
						<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
							<span class="glyphicon glyphicon-upload"></span> Загрузить
						</button>
						<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
							<span class="glyphicon glyphicon-ban-circle"></span> Отменить
						</button>
						<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
							<span class="glyphicon glyphicon-trash"></span> Удалить
						</button>
						<h4 class="text-danger" style="margin: 15px;" ng-hide="item.isValidFields">Заполните поля</h4>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>