<div>Загружено альбомов: {{page_data.albums.length}}, Всего альбомов в бд: {{page_data.amount_albums}}</div>
<div ng-show="cameAnswer">	
	<div class="container altern">
		<div class="row">
			<h2  class="mainTitle">Удаление альбомов и фотографий</h2>

			<div class="row" ng-hide="page_data.amount_albums">
				<div class="bs-callout bs-callout-danger">Ни одного альбома нет. Создайте альбом.</div>
			</div>

			<div class="row" ng-show="page_data.amount_albums">
				<div class="row">
					<div class="col-md-3">
						<h4>Альбомы: <small style="float: right" ng-hide="isAllAlbumsShow"><a href="" ng-click=""><span class="glyphicon glyphicon-cloud-download" style="color: rgb(186, 65, 69); font-size: 20px;"></span></a></small></h4>
						<select class="form-control" ng-model="selectAlbum" ng-options="album.id as album.name for album in page_data.albums">
							<option value="" disabled>Выберете альбом...</option>
						</select>
					</div>

					<div class="col-md-5" align="center">
						<h4>Всего фотографий в альбоме:</h4>
						<strong ng-repeat="album in page_data.albums | filter:{id:selectAlbum}">
							{{ album.amount_photos }}
						</strong>
					</div>

					<div class="col-md-4" align="center">
						<h4>Удалить альбом:</h4>
						<a href="" ng-click="" ng-show="selectAlbum"><span style="color: rgb(186, 65, 69); font-size: 20px;" class="glyphicon glyphicon-floppy-remove"></span></a>
					</div>
				</div>

				<div class="row" ng-show="selectAlbum" ng-repeat="album in page_data.albums | filter:{id:selectAlbum}" style="border-top: 2px solid">
					<div ng-hide="album.amount_photos">
						<div class="bs-callout bs-callout-danger">Ни одной фотографии в этом альбоме нет.</div>
					</div>

					<div ng-show="album.amount_photos">
						<div ng-hide="album.photos.length">
							<strong>
								Для отображения фотографий в альбоме нажмите на кнопку ниже.
							</strong>
						</div>

						<div ng-show="album.photos.length">
							<div class="col-sm-6 col-md-4" style="margin-bottom: 30px" ng-repeat="photo in album.photos">
								<div class="thumbnail">
									<a href="" ng-click="" style="position: absolute; right: 2px; top: -15px; font-size: 20px; color: rgb(186, 65, 69); "><span class="glyphicon glyphicon-remove"></span></a>
									<img style="height: 350px;" ng-src="{{photo.reference_img}}" style="">
									<div class="caption">
										<h3>{{photo.title}}</h3>
										<p>{{photo.description}}</p>										
									</div>
								</div>
							</div>
						</div>

						<div style="float:right;">
							<a href="" ng-click=""><span class="glyphicon glyphicon-save"></span></a>
						</div>						
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
<div>Данные страницы</div>
<pre>{{ page_data | json }}</pre><br>





<!-- <div ng-show="cameAnswer">	
	<div class="container altern">
		<div class="row">
			<h2 class="mainTitle">Удаление альбомов</h2> -->

			<!-- <div class="row" ng-hide="isAlbumDelete">
				<div class="alert alert-warning" role="alert">{{message}}</div>
			</div> -->

			<!-- <div class="row" ng-hide="isExistAlbums">
				<div class="bs-callout bs-callout-danger">Ни одного альбома нет. Создайте альбом.</div>
			</div>

			<div class="row" ng-show="isExistAlbums">
				<table class="table">
					<thead>
						<tr>
							<th class="row-name-album">Имя</th>
							<th class="row-count-photo">Фотографий</th>
							<th class="row-delete-button">Удаление</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="album in page_data.albums">
							<td>{{ album.name }}</td>
							<td>{{ album.amount_photos }}</td>
							<td><a href="" ng-click=""><span class="glyphicon glyphicon-floppy-remove"></span></a></td>
						</tr>
					</tbody>
				</table>

				<div align="right" ng-hide="isAllAlbumsShow">
					<a href="" ng-click="more_albums()" type="button" class="btn btn-danger">More</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container simple" ng-show="isExistAlbums">
		<div class="row">
			<h2 class="mainTitle">Удаление фотографий</h2>

			<div class="row" ng-hide="isExistPhotos">
				<div class="bs-callout bs-callout-danger">Ни одной фотографии нет.</div>
			</div>

			<div class="row" ng-show="isExistPhotos">
				<table class="table">
					<thead>
						<tr>
							<th class="col_name">Изображение</th>
							<th class="col_description">Заголовок</th>
							<th class="col_size">Описание</th>
							<th class="col_progress">Альбом</th>
							<th class="col_actions">Удаление</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="photo in getArrayAllPhotos()">
							<td><img ng-src="{{photo.reference_img}}" width="200px" /></td>
							<td>{{photo.title}}</td>
							<td>{{photo.description}}</td>
							<td>{{photo.name_album}}</td>
							<td><a href="" ng-click=""><span class="glyphicon glyphicon-remove"></span></a></td>
						</tr>
					</tbody>
				</table>
				<div align="right" ng-hide="isAllPhotosShow">
					<a href="" ng-click="more_photos()" type="button" class="btn btn-danger">More</a>
				</div>
			</div>
		</div>
	</div>
</div>
-->
