body {
	padding-top: 50px;
	background-color: #2F3238;
	color: #7F8289;
}
.row {
	padding: 30px;
}
.simple {
	background-color: #222;
}
.altern  {
	background-color: #26292E;
}
.form-control.input_nameAlbum, .form-control.input_description_photo {
	width: 200px;
}
.input_title_photo {
	width: 100px;
}
#img-container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 430px;
    min-height: 300px;
    border: 2px solid #7F8289;

}
#img-list li {
	margin: 10px;
	/*float: left;*/
	width: 152px;
	/*height: 90px;*/
	text-align: center;
	/*border: 1px solid #888888;*/
	display: inline-block;
}

#img-list div.progres {
	width: 150px;
	border: 1px solid #888888;
	height: 18px;
	text-align: center;
	background-image: url('../img/pbar_bgr.png');
	background-repeat: no-repeat;
	background-position: -150px center;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #E09B9B;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout-danger {
	border-left-color: #d9534f;
	background-color: #FFDBDB;
}

.table {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}
table, th {
	text-align: center;
}
.table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row-pre {
	width: 21%;
}
.row-fn {
	width: 13%;
}
.row-siz {
	width: 10%;
}
.row-tit {
	width: 15%;
}
.row-desc {
	width: 18%;
}
.row-alb {
	width: 13%;
}
.row-sta {
	width: 8%;
}
.row-can {
	width: 2%;
}
.error_message {
	color: red;
}
.successful-message {
	color: green;
}

.row-count-photo {
	width: 150px;
}
.row-delete-button {
	width: 100px;
}