body {
	padding-top: 50px;
	background-color: #2F3238;
	color: #7F8289;
}
.row {
	padding: 30px;
}
.simple {
	background-color: #222;
}
.altern  {
	background-color: #26292E;
}
.mainTitle {
	text-align: center;
}

/*ADD ADMIN PAGE*/
.form-control.input_nameAlbum {
	width: 200px;
}

.bs-callout-danger {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #E09B9B;
	border-left-width: 5px;
	border-radius: 3px;
	border-left-color: #d9534f;
	background-color: #FFDBDB;
}

.my-drop-zone { border: dotted 3px lightgray; }
.another-file-over-class { border: dotted 3px green; }

.table {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}
table, th {
	text-align: center;
}
.table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
canvas {
	background-color: #f3f3f3;
	-webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
	-moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
	box-shadow: 3px 3px 3px 0 #e3e3e3;
	border: 1px solid #c3c3c3;
	margin: 6px 0 0 6px;
}
.description_block {
	position: absolute;
}
.input_titlePhoto, .input_descriptionPhoto, .input_albumPhoto {
	margin-top: 5px; 
	margin-bottom: 5px;
	height: 28px;
	width: 200px;
	position: relative;
}
.col-name {
	width: 20%;
}
.col-description {
	width: 20%;
}
.col-size {
	width: 10%;
}
.col-progress {
	width: 15%;
}
.col-status {
	width: 8%;
}
.col-actions {
	width: 27%;
}

/*//////////////////////////////////////////*/

/*EDIT PAGE*/
.miniButton {
	color: rgb(186, 65, 69);
	font-size: 20px;
}

.popover {
	background-color: #7F8289;
}
.popover-title {
	background-color: #26292E;
}
.popover-content {
	
}

.miniButtonRemovePhoto {
	position: absolute;
	right: 2px;
	top: -15px;
	font-size: 20px;
	color: rgb(186, 65, 69);
}
/*///////////////////////////////////////////*/